<%= form_for :note, url: note_path(@note.id), remote: true, :html => { :role => "deletenote" } do |f| %>

<div class = "panel-heading">
  <div class="row">
    <div class= "col-xs-12 noteDate">
    Updated: <%= @note.updated_at.in_time_zone("Pacific Time (US & Canada)").strftime("%b %d, %Y, %I:%M %p") %>
    </div>
  </div>
  <div class = "row">
    <h4><%= @note.title %></h4>
    <p><%= @note.text %></p>
  </div>
</div>

  <%= f.submit "Delete", class: "btn btn-default pull-left" %>

<%end%>

