<%= form_for @note, :html=> {:class => "form-horizontal"} do |f| %>
	
	<div class="form-group">
		<%= f.text_field :title, class: "form-control", placeholder: "Title" %>
	</div>
	<div class="form-group">
		<%= f.text_area :content, class: "form-control", placeholder: "Record your note..." %>
	</div>
	<div class="form-group">
		<%= f.text_field :title, class: "form-control", placeholder: "Tags" %>
	</div>

	<%= f.button "Close", class: "form-btn btn-default pull-left", "data-dismiss" => "modal" %>
	<%= f.submit "Note.", class: "form-btn btn-default pull-right", "data-dismiss" => "modal" %>
	<div class="clearfix"></div>

<% end %>