<div class = "tagtitle">
	<%= tag.tag_name %>
</div>
<!-- pinned button -->
<% if tag.pinned %>
	<%= link_to tag_notes_path(tag.id), method: :patch ,class: "btn-sm btn-primary" do%>
		<span class="glyphicon glyphicon-pushpin" style="color:#149ae8"></span>
	<% end %>
<% else %>
	<%= link_to tag_notes_path(tag.id), method: :patch ,class: "btn-sm btn-primary" do%>
		<span class="glyphicon glyphicon-pushpin" style="color:grey"></span>
	<% end %>
<% end if %>

<div class = "tagButton pull-right">
	<%= link_to tag_notes_path(tag.id), method: :delete, data: { confirm: 'Are you sure?' },class: "btn-sm btn-primary" do%>
		<span class="glyphicon glyphicon-remove" style="color:black"></span>
	<% end %>
</div>

<div class="row ">
	<div class= "col-xs-12 tagDate">
		Updated: <%= tag.updated_at.in_time_zone("Pacific Time (US & Canada)").strftime("%b %d, %Y, %I:%M %p") %>
	</div>
</div>