<div class="container-fluid">
	<div class="row row-no-pad">
		<!--Left bar-->

		<!--Notes taken will appear here if not already in a group-->
	
		<!--Tags bar-->
	  	<div class="col-md-3 leftbar">
	  		<%= link_to new_account_note_path, type:"button", class: "btn btn-default" do %>
	  			<span class="glyphicon glyphicon-plus"></span>Note
	  		<% end %>

			<% @notes.each do |note| %>
	    <tr>
	    	<div class="panel panel-default">
	    		<div class = "panel-heading"><%= note.title %></div>
	    		<div class = "panel-body"><%= note.text %></div>
	    	</div>
	    </tr>
	  	<% end %>


			<div class="panel panel-default">
	  			<div class="panel-body">
	  				<div class="panel-title pull-left">Tags |</div>
	  			</div>
			</div>
	  	</div>


	  	<!--Right bar-->
	  	<div class="col-md-9 rightbar">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
				 	<div class="navbar-header">
				    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#NavBar">
							<span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					    </button>    
					    <a class="navbar-brand" href="">Noted</a>
				    </div>
				    <div class="navbar-collapse collapse" id="NavBar">
					    <ul class="nav navbar-nav navbar-right">
					        <li><%= link_to "Logout", logout_path%></li>
				    	</ul>
				    </div>
				</div>
			</nav>
			<!--Groups Area-->
			<!--Notes taken will appear here if in a group-->
			<% @tagNames.each do |tagName| %>
		    <tr>
		    	<div class="panel panel-default">
		    		<div class = "panel-heading"><%= tagName.tag_name %></div>
		    		<div class = "panel-body">
		    			<% @tags.each do |tag| %>
		    				<% if tag.tag_name.downcase == tagName.tag_name.downcase %>
		    					<% tag_note = @notes.find_by_id(tag.note_id) %>
		    					<% if tag_note != nil %>
			    					<div class="panel panel-default">
							    		<div class = "panel-heading"><%= tag_note.title%></div>
							    		<div class = "panel-body"><%= tag_note.text%></div>
							    	</div>
							    <% end %>
					   		<% end %>
					  	<% end %>
		    		</div>
		    	</div>
		    </tr>
	  	<% end %>

		</div>
	</div>
</div>
<!-- Add Notes Modal -->
<!--
User will enter
title
note_contents
tags
//-->
<div id="new_note" class="modal fade" role="dialog">
	<div class="modal-dialog">
    	<!-- Modal content-->
	    <div class="modal-content">
			<div class="modal-body">
		      	<form class="form-hotizontal">
					<div class="form-group">
						<code>NOTE : THIS DOES NOT WORK YET</code>
						<%= link_to 'go here instead', new_account_note_path %>
						<input type="title" class="form-control" id="title" placeholder="Title">
					</div>
					<div class="form-group">
						<textarea type="text" class="form-control" rows="4" id="text" placeholder="Record your note..."></textarea>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="tags" placeholder="Tags">
					</div>
					<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-default pull-right" data-dismiss="modal">Note.</button>
					<div class="clearfix"></div>
				</form>
			</div>
	    </div>

	</div>
</div>

<!-- Add Group Modal -->
<!--
User will enter
group
//-->
<div id="new_group" class="modal fade" role="dialog">
	<div class="modal-dialog">
    	<!-- Modal content-->
	    <div class="modal-content">
			<div class="modal-body">
		      	<form class="form-hotizontal">
					<div class="form-group">
						<label for="group"><code>New Group : NOTE : THIS DOES NOT WORK YET (tags can be created during note creation)</code></label>
						<input type="text" class="form-control" id="group" placeholder="Group Name">
					</div>
					<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-default pull-right" data-dismiss="modal">Add</button>
					<div class="clearfix"></div>
				</form>
			</div>
	    </div>

	</div>
</div>
