<% @page_title = "Dashboard - Noted" %>

<div class="container-fluid">
	<div class="row">
		<!--Left bar-->

		<!--Notes taken will appear here if not already in a group-->
		<span class = "visible-lg visible-md">
	  	<div class="col-lg-3 col-md-4 leftbar">

	  		<div class="leftNav ">
  				<div class="navButtons">
  				 	<%= link_to new_note_path, remote: true, class: "btn btn-primary" do%>
			  			<span class="glyphicon glyphicon-plus" style="color:white"></span>
			  		<% end %>
		  		</div>
		  		<div class="line"></div>
	  		</div>

	  		<div class="dropdown sort">
					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort by :
				  <span class="caret"></span></button>
				    <ul class="dropdown-menu">
				      <li><%= link_to("Alphabetical", {:action => 'index', :sortNotes => @sortNotesLinks[0], :sortTags => params[:sortTags]}) %></li>
						  <li><%= link_to("Updated", {:action => 'index', :sortNotes => @sortNotesLinks[1], :sortTags => params[:sortTags]}) %></li>
						  <li><%= link_to("Created", {:action => 'index', :sortNotes => @sortNotesLinks[2], :sortTags => params[:sortTags]}) %></li>
						  <li><%= link_to("Tagged", {:action => 'index', :sortNotes => @sortNotesLinks[3], :sortTags => params[:sortTags]}) %></li>
				  	</ul>
				</div>

		  	<div class="notes">
					<% @notes.each do |note| %>
			    <tr>
			    	<div class="panel panel-default container-fluid notesBox">
			    		<div class = "panel-heading">
			    				<%= note.title %>
			    				<div class = "note-buttons">
				    				<%= link_to note_path(note.id), method: :delete, data: { confirm: 'Are you sure?' },class: "btn-sm btn-primary pull-right" do%>
				 							<span class="glyphicon glyphicon-remove" style="color:white"></span>
				 						<% end %>
				 						<%= link_to edit_note_path(note.id), remote: true, class: "btn-sm btn-primary pull-right" do%>
				 							<span class="glyphicon glyphicon-edit" style="color:white"></span>
				 						<% end %>
				 					</div>
				    		<div class="row ">
				    			<div class= "col-xs-12 noteDate">
				    				Updated: <%= note.updated_at.in_time_zone("Pacific Time (US & Canada)").strftime("%b %d, %Y, %I:%M %p") %>
				    			</div>
				    		</div>
			    		</div>
			    		<div class = "panel-body"><%= note.text %></div>
			    	</div>
			    </tr>
			  	<% end %>
		  	</div>

		  	<div class="leftTag">
			  	<div class="panel panel-default tagBox">
			  	<div class = "panel-body"></div>
			  	</div>
		  	</div>

	  	</div>
	  </span>

	  	<!--Right bar-->
	  	<div class="col-lg-9 col-md-8 rightbar">

				<nav class="navbar navbar-default">
					<div class="container-fluid">

					 	<div class="navbar-header">
					    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#NavBar">
								<span class="icon-bar"></span>
					      <span class="icon-bar"></span>
					      <span class="icon-bar"></span>
						  </button>
							<a class="navbar-brand" href="">Noted</a>
					  </div>

					  <div class="navbar-collapse collapse" id="NavBar">
							<ul class="nav navbar-nav navbar-left">
								<li class="hidden-md hidden-lg">
									<%= link_to new_note_path, remote: true, class: "btn-sm btn-primary" do%>
			  						<span class="glyphicon glyphicon-plus" style="color:white"></span>
			  					<% end %>
			  				</li>
								<li>
									<%= link_to tag_notes_path, remote: true, class: "btn-sm btn-primary" do%>
			  						<span class="glyphicon glyphicon-tag" style="color:white"></span>
			  					<% end %>
			  				</li>
						  </ul>

						  <ul class="nav navbar-nav navbar-right">
						  	<li class="dropdown">
						  			<li><%= link_to "Logout", logout_accounts_path%></li>
						  	</li>
					    </ul>
					   </div>

					</div>
				</nav>

				<span class="groups visible-lg visible-md">
					<div class="dropdown sort">
					   <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort by :
					   <span class="caret"></span></button>
					    <ul class="dropdown-menu">
					      <li><%= link_to("Alphabetical", {:action => 'index', :sortNotes => params[:sortNotes], :sortTags => @sortTagsLinks[0]}) %></li>
							  <li>	<%= link_to("Updated", {:action => 'index', :sortNotes => params[:sortNotes], :sortTags => @sortTagsLinks[1]}) %></li>
							  <li><%= link_to("Pinned", {:action => 'index', :sortNotes => params[:sortNotes], :sortTags => @sortTagsLinks[3]}) %></li>

					    </ul>
					</div>
				<!--Groups Area-->
				<!--Notes taken will appear here if in a group-->
					<div class="groupsArea">
						<!-- <p>Sort By:
						<%= link_to("Alphabetical", {:action => 'index', :sortNotes => params[:sortNotes], :sortTags => @sortTagsLinks[0]}) %>
						<%= link_to("Updated", {:action => 'index', :sortNotes => params[:sortNotes], :sortTags => @sortTagsLinks[1]}) %>
						<%= link_to("Created", {:action => 'index', :sortNotes => params[:sortNotes], :sortTags => @sortTagsLinks[2]}) %>
						<%= link_to("Pinned", {:action => 'index', :sortNotes => params[:sortNotes], :sortTags => @sortTagsLinks[3]}) %></p> -->
						<% @tags.each do |tag| %>
							<tr>
								<div class="panel panel-default">

									<div class = "panel-heading"> <!--Tag Title -->
										<%= tag.tag_name %>
									</div>

									<div class = "panel-body"> <!--Tag Notes -->
										<% tag.notes.each do |note| %>
											<div class="panel panel-default groupNotesBox">
													<div class = "panel-heading"> <!--Note Title -->
														<%= note.title%>
														<div class = "note-buttons"> <!--Delete/Edit Buttons-->

															<%= link_to note_path(note.id), method: :delete, data: { confirm: 'Are you sure?' },class: "btn-sm btn-primary pull-right" do%>
																<span class="glyphicon glyphicon-remove" style="color:black;"></span>
															<% end %>

															<%= link_to edit_note_path(note.id), remote: true, class: "btn-sm btn-primary pull-right" do%>
																<span class="glyphicon glyphicon-edit" style="color:black"></span>
															<% end %>
														</div>
													</div>
												<div class = "panel-body"> <!--Note Contents -->
													<%= note.text%>
												</div>
											</div>
										<% end %>
									</div>
								</div>
							</tr>
						<% end %>
				  </div>
				</span>

		  	<div class = "mobileTabs visible-sm visible-xs">
		  		<ul class="nav nav-tabs">
				    <li class="active tab-width"><a data-toggle="tab" href="#notes">Notes</a></li>
				    <li class="tab-width"><a data-toggle="tab" href="#groups">Groups</a></li>
				  </ul>

					<div class="tab-content">
			
						<div id="notes" class="tab-pane fade in active">
							<div class="dropdown sort-mobile">
						    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort by :
						    <span class="caret"></span></button>
						    <ul class="dropdown-menu">
						      <li><%= link_to("Alphabetical", {:action => 'index', :sortNotes => @sortNotesLinks[0], :sortTags => params[:sortTags]}) %></li>
								  <li><%= link_to("Updated", {:action => 'index', :sortNotes => @sortNotesLinks[1], :sortTags => params[:sortTags]}) %></li>
								  <li><%= link_to("Created", {:action => 'index', :sortNotes => @sortNotesLinks[2], :sortTags => params[:sortTags]}) %></li>
								  <li><%= link_to("Tagged", {:action => 'index', :sortNotes => @sortNotesLinks[3], :sortTags => params[:sortTags]}) %></li>
						    </ul>
						  </div>
							<% @notes.each do |note| %>
						    <tr>
						    	<div class="panel panel-default container-fluid notesBox">
						    		<div class = "panel-heading">
							    			<%= note.title %>
				    				<%= link_to note_path(note.id), method: :delete, data: { confirm: 'Are you sure?' },class: "btn-sm btn-primary pull-right" do%>
				 							<span class="glyphicon glyphicon-remove" style="color:white"></span>
				 						<% end %>
				 						<%= link_to edit_note_path(note.id), remote: true, class: "btn-sm btn-primary pull-right" do%>
				 							<span class="glyphicon glyphicon-edit" style="color:white"></span>
				 						<% end %>

							    		<div class="row">
							    			<div class= "col-xs-12 noteDate">
							    				<%= note.updated_at %>
							    			</div>
							    		</div>
						    		</div>
						    		<div class = "panel-body"><%= note.text %></div>
						    	</div>
						    </tr>
						  	<% end %>
						</div>
						<div id="groups" class="tab-pane fade">
							<div class="dropdown sort-mobile">
							   <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort by :
							   <span class="caret"></span></button>
							    <ul class="dropdown-menu">
							      <li><%= link_to("Alphabetical", {:action => 'index', :sortNotes => params[:sortNotes], :sortTags => @sortTagsLinks[0]}) %></li>
									  <li>	<%= link_to("Updated", {:action => 'index', :sortNotes => params[:sortNotes], :sortTags => @sortTagsLinks[1]}) %></li>
									  <li><%= link_to("Pinned", {:action => 'index', :sortNotes => params[:sortNotes], :sortTags => @sortTagsLinks[3]}) %></li>
							  </ul>
							</div>
							<% @tags.each do |tag| %>
								<tr>
									<div class="panel panel-default">

										<div class = "panel-heading"> <!--Tag Title -->
											<%= tag.tag_name %>
										</div>

										<div class = "panel-body"> <!--Tag Notes -->
											<% tag.notes.each do |note| %>
												<div class="panel panel-default groupNotesBox">
														<div class = "panel-heading"> <!--Note Title -->
															<%= note.title%>
															<div class = "note-buttons"> <!--Delete/Edit Buttons-->

																<%= link_to note_path(note.id), method: :delete, data: { confirm: 'Are you sure?' },class: "btn-sm btn-primary pull-right" do%>
																	<span class="glyphicon glyphicon-remove" style="color:black;"></span>
																<% end %>

																<%= link_to edit_note_path(note.id), remote: true, class: "btn-sm btn-primary pull-right" do%>
																	<span class="glyphicon glyphicon-edit" style="color:black"></span>
																<% end %>
															</div>
														</div>
													<div class = "panel-body"> <!--Note Contents -->
														<%= note.text%>
													</div>
												</div>
											<% end %>
										</div>
									</div>
								</tr>
								<% end %>
						</div>
					</div>

		  	</div>

		  	<%= render 'dialog' %>

		</div>
	</div>
</div>
