<% @page_title = "Dashboard - Noted" %>

<div class="container-fluid">
	<div class="row">
		<!--Left bar-->
		<span class = "visible-lg visible-md">
	  	<div class="col-lg-3 col-md-4 leftbar">

	  		<div class="leftNav">
	  			<!--Buttons on left navigation bar-->
  				<div class="navButtons">
  				 	<%= link_to new_note_path, remote: true, class: "btn btn-primary navbutton" do%>
			  			<span class="glyphicon glyphicon-plus" style="color:white"></span>
			  		<% end %>
		  		</div>
		  		<div class="line">
		  		</div>
	  		</div>

	  		<!--Dropdown for sorting notes-->
	  		<div class="sortmenu">
		  		<%= render 'dropdown_note_sort' %>
				</div>

				<!--Notes area-->
		  	<div class="notes" id="notes_main">
					<% @notes.each do |note| %>
			    	<%= render note %>
			  	<% end %>
		  	</div>

		  	<div class="leftTag">
			  	<div class="well tagbox"></div>
		  	</div>

	  	</div>
	  </span>

	  <!--Right bar-->
	  <div class="col-lg-9 col-md-8 rightbar">
	  		<!--navigation-->
				<nav class="navbar navbar-default">
					<div class="container-fluid">

					 	<div class="navbar-header">
					    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#NavBar">
								<span class="icon-bar"></span>
					      <span class="icon-bar"></span>
					      <span class="icon-bar"></span>
						  </button>
							<a class="navbar-brand" href="">Noted</a>
					  </div>

					  <div class="navbar-collapse collapse" id="NavBar">
							<ul class="nav navbar-nav navbar-left">
								<!--hidden nav buttons-->
								<li class="hidden-md hidden-lg">
									<%= link_to new_note_path, remote: true, class: "btn-sm btn-primary" do%>
			  						<span class="glyphicon glyphicon-plus" style="color:white"></span>
			  					<% end %>
			  				</li>
								<li>
									<%= link_to tag_notes_path, remote: true, class: "btn-sm btn-primary" do%>
			  						<span class="glyphicon glyphicon-tag" style="color:white"></span>
			  					<% end %>
			  				</li>
						  </ul>

						  <ul class="nav navbar-nav navbar-right">
						  	<li class="dropdown">
						  			<li><%= link_to "Logout", logout_accounts_path%></li>
						  	</li>
					    </ul>
					   </div>

					</div>
				</nav>

				<span class="groupsArea visible-lg visible-md">
					<div class="sortmenu">
						<%= render 'dropdown_tag_sort' %>
					</div>
					<!--Groups Area-->
					<div class="groups" id="groups_main">
						<% @tags.each do |tag| %>
								<%= render tag %>
						<% end %>
				  </div>
				</span>

				<!--Mobile only-->
		  	<span class = "mobileTabs visible-sm visible-xs">
		  		<ul class="nav nav-tabs">
				    <li class="active tab-width"><a data-toggle="tab" href="#notes_tab">Notes</a></li>
				    <li class="tab-width"><a data-toggle="tab" href="#groups_tab">Groups</a></li>
				  </ul>

					<div class="tab-content">

						<div id="notes_tab" class="tab-pane fade in active">
							<%= render 'dropdown_note_sort' %>
							<div class="spacer"></div>
							<div class= "notes">
								<% @notes.each do |note| %>
			    				<%= render note %>
							  <% end %>
						 	</div>
						</div>

						<div id="groups_tab" class="tab-pane fade">
							<%= render 'dropdown_tag_sort' %>
							<div class="spacer"></div>
							<div class= "groups">
								<% @tags.each do |tag| %>
									<%= render tag %>
								<% end %>
							</div>
						</div>
					</div>

		  	</span>

		  	<%= render 'dialog' %>
		</div>

	</div>
</div>
